@inherits LayoutComponentBase

<div class="bg-secondary text-white p-2">

    <div class="container-fluid">

        <div class="row">

            <div class="col">
                <span class="navbar-brand m-lg-2">Bookstore Administration</span>
            </div>

            <div class="col-2 text-right">
                <a class="btn btn-sm btn-info" href="/account/logout">Logout</a>
            </div>
            @*Put a logout button to log out of admin*@

        </div>

    </div>

</div>

<div class="container-fluid">

    <div class="row p-2">

        <div class="col-3">
            <NavLink class="btn btn-block btn-outline-dark" href="/admin/books"
                     ActiveClass="btn-info text-white" Match="NavLinkMatch.Prefix">Books</NavLink>
            <NavLink class="btn btn-block btn-outline-dark" href="/admin/purchases"
                     ActiveClass="btn-info text-white" Match="NavLinkMatch.Prefix">Purchases</NavLink>
        </div>
        @*Functionality to flip back between Books and Purchases*@

        <div class="col">
            @Body
        </div>

    </div>

</div>